<!DOCTYPE html>
<html lang="en">
<head>
	<meta chaarset="UTF-9">
	<title>Code Contas</title>
</head>
<body id="app">
<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<h1>Esmerio Neto</h1>
{{title}}
</body>
</html>